* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #000000;
}

svg {
    font-size: 22px;
}

canvas{
    padding: 20px;
    background-color: #0c0c0c;
    width: 60% !important;
    height: 60% !important;
    border-radius: 12px;
}

aside {
    width: 15%;
    float: left;
    background-color: #0b0b0b;
    height: 100vh;
    padding-top: 40px;
}

aside h1 {
    color: #087dca;
    text-align: center;
}

#tabs {
    display: grid;
    color: white;
    margin-top: 40px;
}

.tab-link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 30px;
    color: #ccc;
}

.tab-link:hover {
    background-color: #101010;
    color: #087dca;
}

.tab-link a {
    text-decoration: none;
    font-size: clamp(16px, 1vw, 2em);
    color: var(--black);
}

main {
    height: 100vh;
    color: white;
    padding: 40px 80px;
    float: left;
    width: 80em;
}

.title-heading{
    color:#087dca;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.content{
    margin-top: 40px
}

.chart{
    display: flex;
    column-gap: 20px;
}

.report{
    padding: 40px;
    background-color: #0c0c0c;
    border-radius: 12px;
}

.text-body{
    color: #cccccc;
}
